<div class="container mt-4">
    <form action="/search" method="GET">
        <div class="form-group">


            <input type="hidden" name="behavior" value="global">
            <div class="row">
                {# reservation time #}
                <div class="col-3">
                    <label for="" class="text-light"><i class="far fa-clock"></i> Time</label>
                    <input name="reservationTime" type="time" class="form-control">
                </div>

                <div class="col-3">
                    <label for="" class="text-light"><i class="far fa-calendar"></i> Date</label>
                    <input name="reservationDate" type="date" class="form-control">
                </div>

                <div class="col-3">
                    <label for="" class="text-light"><i class="fas fa-user-friends"></i> Person Amount</label>
                    <select name="personAmount" id="" class="form-control">
                        {% for personAmount in arrayOfPersonAmounts %}
                            <option value={{personAmount}}>{{personAmount}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-3">

                    <label class="text-light"><i class="fas fa-map-marker-alt"></i> Location</label>
                    <div class="input-group">

                        <select name="location" id="location" class="form-control">
                            {% for cityName, city in cities %}
                                <optgroup label = {{cityName}}>
                                    {% for region in city %}
                                        <option value={{region}}>{{region}}</option>
                                    {% endfor %}
                                </optgroup>
                            {% endfor %}
                        </select>

                        <div class="input-group-append">
                            <button class="btn btn-outline-success">Search</button>
                        </div>
                    </div>

                </div>




            </div>

        </div>
    </form>
</div>