{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
    {% if valid %}
        <div>
            <h1 class="text-center text-muted mb-4"> {{ restaurantData.restaurant.name }} </h1>

            <div id="restaurant-for-reservation">
                <div>
                    <img src={{ "/photo/restaurant/cover-photo/" ~ restaurantData.restaurant.coverPhoto }} alt={{ restaurantData.restaurant.name }}>
                </div>
                <div class="pl-4">
                    <div>
                        <h3 class="text-muted">{{ restaurantData.restaurant.slogan }}</h3>
                    </div>

                    <div>
                        <span><i class="far fa-star"></i> <span class="text-muted">Rating</span> {{ restaurantData.rating }}</span>
                    </div>

                    <div>
                        <span><i class="fas fa-map-marker-alt"></i> <span class="text-muted">Location</span> {{ restaurantData.restaurant.location }} </span>
                    </div>

                    {# this need to be dynamic #}
                    <div>
                        <i class="fas fa-phone"></i> <span class="text-muted">Phone</span> Some fake phone number until opening
                    </div>

                </div>
            </div>


            <div id="reservation-details">

                <div class="row">
                    <div class="col-6">
                        <h5 class="text-center text-muted">Reservation Details</h5>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <i class="far fa-calendar-check"></i>
                                <span class="text-muted">Reservation date and time </span>
                                {{ reservationDetails.reservationDate }} {{ reservationDetails.reservationTime }}
                            </li>

                            <li class="list-group-item">
                                <i class="fas fa-hashtag"></i>
                                <span class="text-muted">Table number</span>
                                {{ tableToReserve.tableNumber }}
                            </li>

                            <li class="list-group-item">
                                <i class="fas fa-user-friends"></i>
                                <span class="text-muted">Person amount</span>
                                {{ tableToReserve.personAmount }}
                            </li>
                        </ul>

                    </div>

                    <div class="col-6">
                        <div class="history">

                            <h5 class="text-center text-muted"> Table reservation state </h5>
                            <ul class="list-group list-group-flush">
                            {% if previousReservation %}
                                <li class="list-group-item">
                                    <div><i class="fas fa-calendar-times"></i> {{ previousReservation.reservationDate.format("Y-m-d") }} {{ previousReservation.reservationTime.format("H:i:s") }} </div>
                                </li>
                            {% else %}
                                <li class="list-group-item">
                                    <div><i class="fas fa-calendar-times"></i> No previous reservation</div>
                                </li>
                            {% endif %}
                            {% if nextReservation %}
                                <li class="list-group-item">
                                    <div><i class="fas fa-calendar-times"></i> {{ nextReservation.reservationDate.format("Y-m-d") }} {{ nextReservation.reservationTime.format("H:i:s") }} </div>
                                </li>
                            {% else %}
                                <li class="list-group-item">
                                    <div><i class="fas fa-calendar-times"></i> No next reservation</div>
                                </li>
                            {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div id="reservation-submission">

                <div class="row">
                    <div class="errors col-6">
                        {% for error in errors %}
                            <div class="alert alert-danger mt-2 mb-2 text-center">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>
                </div>


                <div class="row">
                    <div class="col-6">

                        <h4 class="text-muted text-center">Make Reservation</h4>

                        <form action="" method="POST">
                            <div class="input-group">

                                <div class="input-group-prepend mr-2">
                                </div>

                                <input id="amountOfTime" type="input" class="form-control" name="amountOfTime" placeholder="amount of time in minutes">

                                <div class="input-group-append">
                                    <button class="btn btn-primary">Reserve</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>


    {% else %}
        <div class="alert alert-danger">
            Sth went wrong please try again
        </div>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/reservation/restaurant.css">
{% endblock %}
