<div>
    <h3><i class="fas fa-star"></i> Rated Restaurants <em><span class="text-muted">{{ amountOfRatings }}</span></em> <a href="#ratings" class="btn btn-info float-right">See More</a></h3>
    <hr>

    {% if reviews|length == 0 %}
        <h4 class="text-center">No Ratings Done Yet</h4>
    {% else %}
        {% for review in reviews %}
            <div class="row">
                <div class="col-6 mb-3">

                        <div class="card" style="width: 18rem">
                            <img src={{ "photo/restaurant/cover-photo/" ~ review.review.restaurant.coverPhoto }} class="card-img-top" alt="restaurant-img">
                            <div class="card-body">
                                <a href={{ "/restaurants/" ~ review.review.restaurant.name ~ "/" ~ review.review.restaurant.id }}>
                                    <h5 class="card-title"> {{ review.review.restaurant.name }} </h5>
                                </a>

                                <span><i class="fas fa-map-marker-alt"></i> {{ review.review.restaurant.location }} <i class="fas fa-star"></i> {{ review.restaurantRating }}</span>
                            </div>
                        </div>

                </div>

                {% set userRating = review.review.review %}
                {% set notRated = 5 - userRating %}
                <div class="col-6 align-middle">
                    <div>

                        {% for index in range(1, userRating) %}
                            {% include "base-components/rating/rated.html.twig" %}
                        {% endfor %}

                        {% if notRated != 0 %}
                            {% for index in range(1,notRated) %}
                                {% include "base-components/rating/not-rated.html.twig" %}
                            {% endfor %}
                        {% endif %}

                        <small class="text-muted"> rated at {{ review.review.date.format("Y-m-d") }} {{ review.review.reviewTime.format("H:i") }}</small>
                    </div>

                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>