{% extends 'base.html.twig' %}

{% block title %}Search{% endblock %}

{% block body %}
    {% if error %}
        <h1 class="alert-danger p-2">
            Sth went wrong please try again
        </h1>
    {% endif %}
    {% if notReservedTables %}
    <div>

        <div class="row">
            <div class="col-4">
                <h4 class="text-muted">Restaurant</h4>
            </div>
            <div class="col-8">
                <h4 class="text-muted">Not Reserved Tables</h4>
            </div>
        </div>

        {# separater #}
        <hr>

        {% for restaurantTables in notReservedTables %}

            {% set currentRestaurant = restaurantTables.restaurant.restaurant %}
            {% set currentRestaurantTables = restaurantTables.tables %}

            {# restaurant and it's not reserved tables #}
            <div class="row">

                {# restaurant #}
                <div class="col-4">
                    <div class="card">
                        <img class="card-img-top" alt={{ currentRestaurant.restaurant.name }} src={{ "/photo/restaurant/cover-photo/" ~ currentRestaurant.restaurant.coverPhoto }}>
                        <div class="card-body">
                            <a href={{ "/restaurants/" ~ currentRestaurant.restaurant.name }}><h3 class="card-title">{{ currentRestaurant.restaurant.name }}</h3></a>
                            <div class="card-text">
                                <span class="text-muted">Rating</span> <i class="far fa-star"></i> {{ currentRestaurant.rating }}
                            </div>
                        </div>
                    </div>
                </div>

                {# not reserved tables #}
                <div class="col-8">

                    <div class="row">

                        {% for currentTable in currentRestaurantTables %}

                            <div class="card mr-2 mb-2">
                                <h5 class="card-header text-center">
                                    <i class="fas fa-map-marker-alt"></i> <span class="text-muted">Location</span> {{ currentTable.restaurant.location }}
                                </h5>

                                <div class="card-body">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><i class="fas fa-male"></i> <span class="text-muted">Person Amount</span> {{ currentTable.personAmount }}</li>
                                        <li class="list-group-item"><i class="fas fa-hashtag"></i> <span class="text-muted">TableNumber</span> {{ currentTable.tableNumber }}</li>

                                        {# problem is about table id #}
                                        <a class="list-group-item list-group-item-action active" href={{"/restaurants/" ~ currentTable.restaurant.name ~ "/" ~ currentTable.restaurant.id ~ "/reservation?personAmount=" ~ queryParams.personAmount ~
                                        "&reservationDate=" ~ queryParams.reservationDate ~ "&tableId=" ~ currentTable.id ~ "&reservationTime=" ~ queryParams.reservationTime}}>
                                            <i class="fas fa-book"></i> Reserve</a>
                                    </ul>
                                </div>
                            </div>

                        {% endfor %}
                    </div>
                </div>

            </div>

            <hr>
    {% endfor %}
    </div>
    {% endif %}
{% endblock %}
